<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tre sa koshtolim ceva!</title>
    <link rel="stylesheet" href="Resources/css/reset.css">
    <link rel="stylesheet" href="Resources/css/my-style.css">
    <script type="text/javascript" src="/angular.min.js"></script>
    <script type="text/javascript" src="/angular-ui-router.js"></script>
    <script type="text/javascript" src="my-app.js"></script>
  </head>
  <body>
    <div ng-app="my-app">
        <header ng-include="'/navigation.html'"></header>
        <div ui-view></div>
        <footer ng-include="'/footer.html'"></footer>
    </div>
  </body>
</html>