.home-container {
    width: 100%;
    display: inline-block;

    .text-container {
        width: 70%;
        margin: 0 auto;

        .text {
            width: 30%;
            margin: 0 auto;
            float: left;
        }
    }
}
